/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section
{
  margin: 0;
  padding: 0;

}

.container {
  text-align: center;
  background-color: #734a845c;
  margin: 50px;
  padding: 15px;
  border-radius: 20px;
}

header {

  text-align: center;
}


body {
margin: 0;
padding: 0;
  font-size: 1.7rem;
  font-weight: 400; /* épaisseur de la police */
  font-family: 'Ubuntu', sans-serif;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  margin: 20px 0;

}

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 20px 0;

}

.rules-game p {
  padding: 20px;

}

input.container {
  font-size: 2.2rem;
  border-radius: 20px;
}
  button#start {
      border-radius: 9px;
      padding: 10px;
      font-size: 1.2rem;
      color: white;
      background: #734a845c;
}
p.rules-game {
    font-weight: bold;
}
.screen2 {
  text-align: center;
}

#screen2,#screen4,#screen3 {
  display: none;
}

div#displayedLetter {
    font-size: 7rem;
    font-family: 'Unbuntu', sans-serif;
}

button#new-game {
    border-radius: 9px;
    font-size: 1.2rem;
    color: white;
    background: #734a845c;
